<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>HEALTHCARE SOLUTIONS</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://code.jquery.com/jquery.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

</head>

<body>

  <div class="container">

    <div class="jumbotron">
      <h1 class="text-center"> HEALTHCARE SOLUTIONS</h1>


      <hr>
      <h5 class="text-center">Doctor assigned to the Patients</h5>
      <br>
      <div class="text-center">
        <a href="/patient">
          <button class="btn btn-lg btn-primary">
            <span></span>Add New Patient</button>
        </a>
        <a href="/home">
          <button class="btn btn-lg btn-default">
            <span class="fa fa-home"></span>
          </button>
        </a>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-6">
          <div class="card-body">
            {{#each patients}}

            <a>{{firstName}} {{lastName}}</a>

            {{else}}

            <p>No patient available</p>
            {{/each}}
          </div>
        </div>
        <div class="col-6">
          <div class="card">
            <div class="card-header">
              Patient Info
            </div>
            <div class="card-body">
              <form role="form">
                <div class="form-group">
                  <label for="reserve-name">First Name</label>
                  <input type="text" class="form-control" id="reserve-name">
                </div>
                <div class="form-group">
                  <label for="Last-Name">Last Name</label>
                  <input type="text" class="form-control" id="Last-Name">
                </div>

                <div class="form-group">
                  <label for="reserve-phone">Phone Number</label>
                  <input type="text" class="form-control" id="reserve-phone">
                </div>
                <div class="form-group">
                  <label for="reserve-email">Email</label>
                  <input type="text" class="form-control" id="reserve-email">
                </div>
                <div class="form-group">
                  <label for="reserve-address">Address</label>
                  <input type="text" class="form-control" id="reserve-address">
                </div>
                <div class="form-group">
                  <label for="city">City</label>
                  <input type="text" class="form-control" id="city">
                </div>
                <div class="form-group">
                  <label for="state">State</label>
                  <input type="text" class="form-control" id="state">
                </div>
                <div class="form-group">
                  <label for="zip code">Zip code</label>
                  <input type="text" class="form-control" id="zip-code">
                </div>

                <button type="submit" class="btn btn-primary submit">Submit</button>

              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>

  </div>


</body>

</html>